# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Environment variables & secrets
.env
.streamlit/secrets.toml

# Temp installer files
git_installer.exe
git_setup.exe
